

.full {
	-fx-border-radius: 5.0 5.0 5.0 5.0;
	-fx-border-width: 2.0;
	-fx-border-insets: 2.0 0.0 2.0 0.0;
	-fx-border-color: rgb(103.0,103.0,103.0);
	-fx-background-color: rgb(192.0,192.0,192.0, 0.2); 
	-fx-background-radius: 6.0 6.0 6.0 6.0;
	-fx-background-insets: 2.0 0.0 2.0 0.0;    
    -fx-font-family: "Helvetica";
    -fx-font-size: 14.0px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(255.0,255.0,255.0,0.2) , 1.0, 0.0 , 0.0 , 1.0);
}

.empty {
	-fx-background-color: transparent;
	 visibility: collapse;
}

.text-area {
	-fx-background-color: transparent;
    -fx-padding: 3.0 3.0 3.0 3.0;
    -fx-display-caret: true;
    -fx-font: 12.0pt "Helvetica";    
}

.list-cell:empty {
    -fx-background-color: transparent;
     visibility: collapse;
}

.list-view {
  	-fx-background-image: url("file:images/bg.jpg");
    -fx-padding: 7.5;
}

.root {
    -fx-background-color: red;
}

.separator:vertical .line {
    -fx-border-color: transparent transparent transparent transparent;
}

.text-area:focused {
    -fx-background-color: -fx-focus-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: -0.4, 1.0, 2.0;
    -fx-background-radius: 3.4, 2.0, 2.0;
        -fx-prompt-text-fill: grey;  
    
}