.radiobutton {
	-fx-text-fill: white;
}

.full {
	-fx-background-color: rgb(192.0,192.0,192.0, 0.2); 
	-fx-background-insets: 2.0 0.0 2.0 0.0; 
    -fx-effect: dropshadow( three-pass-box , rgba(255.0,255.0,255.0,0.2) , 1.0, 0.0 , 0.0 , 1.0);
    -fx-padding: 10 0 10 10;
}

.empty {
	-fx-background-color: transparent;
	 visibility: collapse;
}

.desc {
    -fx-font-family: "Segoe UI Bold";
    -fx-font-size: 15.0px;
    -fx-padding: 0 0 0 0;
    -fx-background-color: white;
    -fx-translate-y: 5px;
}

.details {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 12.0px;
    -fx-padding: 0 0 0 0;
	-fx-translate-y:-5px;
}

.done{
	 -fx-font-size: 12.0px;
}

.strikethrough{
		 -fx-strikethrough: true;
}

.text-area {
	-fx-background-color: transparent;
    -fx-padding: 3.0 3.0 3.0 3.0;
    -fx-display-caret: true;
    -fx-font: 12.0pt "Helvetica";    
}

.list-cell:empty {
    -fx-background-color: transparent;
     visibility: collapse;
}

.list-view {
	/*-fx-background-color: #061825;*/
  	-fx-background-image: url("file:images/bg-sml.jpg");
    -fx-padding: 7.5;
}

.root {
    -fx-background-color: red;
}

.separator:vertical .line {
    -fx-border-color: transparent transparent transparent transparent;
}

.text-area:focused {
    -fx-background-color: -fx-focus-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: -0.4, 1.0, 2.0;
    -fx-background-radius: 3.4, 2.0, 2.0;
        -fx-prompt-text-fill: grey;  
    
}

.delete {
	-fx-background-color: transparent;
	-fx-graphic: url('file:images/delete-sml.png');
	-fx-opacity: 0.3;
}

.delete:hover {
	-fx-background-color: transparent;
	-fx-graphic: url('file:images/delete-sml-hover.png');
	-fx-opacity: 1.0;
}

.flag {
	-fx-background-color: transparent;
	-fx-graphic: url('file:images/flag-sml.png');
	-fx-opacity: 0.3;
}

.flag:hover {
	-fx-background-color: transparent;
	-fx-graphic: url('file:images/flag-sml-hover.png');
	-fx-opacity: 1.0;
}

.flag-selected {
	-fx-background-color: transparent;
	-fx-graphic: url('file:images/flag-sml-flagged.png');
	-fx-opacity: 1.0;
}

.selected:selected {
	-fx-background-color: transparent;
	-fx-graphic: url('file:images/selected-sml.png');
}

.selected {
	-fx-background-color: transparent;
	-fx-graphic: url('file:images/deselected-sml.png');
}

.done {
	-fx-translate-y: 15px;
	-fx-translate-x: -5px;
	-fx-padding:0 5 0 5;
}

.floating {
	-fx-translate-y: 17px;
}