

.label {
	-fx-text-fill: white;
}

.split-pane *.split-pane-divider {
    -fx-background-color: #333;
}

.radiobutton {
	-fx-text-fill: white;
}

.full {
	-fx-background-color: rgb(192.0,192.0,192.0, 0.2); 
	-fx-background-insets: 2.0 0.0 2.0 0.0; 
    -fx-padding: 10 10 10 10;
}

.empty {
	-fx-background-color: transparent;
	 visibility: collapse;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
    -fx-padding:0;
    -fx-translate-x: 8px;
}
/* The increment and decrement button CSS class of scrollbar */
.increment-button ,.decrement-button {
    -fx-background-color:transparent;
    -fx-padding: 10 5 10 5;
    -fx-border-width: 1;
    -fx-border-color: black;
    
}
/* The main scrollbar **track** CSS class  */
.scroll-bar:horizontal .track ,
.scroll-bar:vertical .track{
     -fx-background-color: transparent;
     -fx-background-radius: 0em;
} 
/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: #333;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
 }
/* ------------------------------------------------------------------------------------- */
/** EVENT CSS **/
/* ------------------------------------------------------------------------------------- */

.scroll-bar .thumb:hover,
.scroll-bar .thumb:pressed{
    -fx-background-color: #555;
}

.increment-button:hover ,.decrement-button:hover {
    -fx-background-color: #333;
}


.desc {
    -fx-font-family: "Segoe UI Bold";
    -fx-font-size: 15.0px;
    -fx-padding: 0 0 0 0;
    -fx-background-color: white;
    -fx-translate-y: 5px;
}

.details {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 12.0px;
    -fx-padding: 0 0 0 0;
	-fx-translate-y:0px;
}

.done{
	 -fx-font-size: 12.0px;
}

.strikethrough{
		 -fx-strikethrough: true;
}

.text-area {
	-fx-background-color: black;
    -fx-padding: 3.0 3.0 3.0 3.0;
    -fx-display-caret: true;
    -fx-font: 12.0pt "Helvetica";    
}

.list-cell:empty {
    -fx-background-color: transparent;
     visibility: collapse;
}

.list-view {
	/*-fx-background-color: #061825;*/
  	-fx-background-image: url("file:images/bg-sml.jpg");
    -fx-padding: 7.5;
}

.root {
    -fx-background-color: red;
}

.separator:vertical .line {
    -fx-border-color: transparent transparent transparent transparent;
}

.text-area:focused {
    -fx-background-color: -fx-focus-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-color: black;
    -fx-background-insets: -0.4, 1.0, 2.0;
    -fx-background-radius: 3.4, 2.0, 2.0;
    -fx-prompt-text-fill: grey;  
	-fx-text-fill: white;
    
}

.text-area .content {
	-fx-background-color: black;
}

.delete {
	-fx-background-color: transparent;
	-fx-graphic: url('file:images/delete-sml.png');
	-fx-opacity: 0.3;
}

.delete:hover {
	-fx-background-color: transparent;
	-fx-graphic: url('file:images/delete-sml-hover.png');
	-fx-opacity: 1.0;
}

.flag {
	-fx-background-color: transparent;
	-fx-graphic: url('file:images/flag-sml.png');
	-fx-opacity: 0.3;
}

.flag:hover {
	-fx-background-color: transparent;
	-fx-graphic: url('file:images/flag-sml-hover.png');
	-fx-opacity: 1.0;
}

.flag-selected {
	-fx-background-color: transparent;
	-fx-graphic: url('file:images/flag-sml-flagged.png');
	-fx-opacity: 1.0;
}

.selected:selected {
	-fx-background-color: transparent;
	-fx-graphic: url('file:images/selected-sml.png');
}

.selected {
	-fx-background-color: transparent;
	-fx-graphic: url('file:images/deselected-sml.png');
}

.done {
	-fx-translate-y: 15px;
	-fx-translate-x: -5px;
	-fx-padding:0 5 0 5;
}

.floating {
	-fx-translate-y: 17px;
}

.min {
	-fx-background-image: url('file:images/min.png');
}

.min:hover {
	-fx-background-image: url('file:images/min-hover.png');
}

.cls {
	-fx-background-image: url('file:images/cls.png');
}

.cls:hover {
	-fx-background-image: url('file:images/cls-hover.png');
}

.sld {
	-fx-background-image: url('file:images/sld.png');
}

.sld:hover {
	-fx-background-image: url('file:images/sld-hover.png');
}

.radio-button .radio { 
	-fx-opacity: 0.2;
	-fx-padding: 6;
}

.radio-button:selected .radio { 
    -fx-background-image: url('file:images/selected-sml.png');
    -fx-background-color: transparent;
    -fx-opacity: 1;
	-fx-background-position: 0 0;
}

.radio-button:selected {
    -fx-font-family: "Segoe UI Bold";
}

.radio-button:selected .radio .dot { 
    -fx-background-color: transparent;
}

.button:focused {
    -fx-focus-color: transparent; 
    -fx-background-insets: -1.4, 0, 1, 2;
}

.check-box>.box {
  -fx-background-color: transparent;
  -fx-background-image: url('file:images/done.png');
}

.check-box:hover>.box {
  -fx-background-color: transparent;
  -fx-background-image: url('file:images/done-hover.png');
}

.check-box:selected>.box {
  -fx-background-color: transparent;
  -fx-background-image: url('file:images/done-selected.png');
}

.check-box>.box>.mark {
  -fx-background-color: transparent;
}

.check-box:selected>.box>.mark{
  -fx-background-color: transparent;
}