@CHARSET "UTF-8";

.list-view .virtual-flow .clipped-container .list-cell:filled {
    -fx-border-color: lightgrey;
    -fx-padding: 5;
    -fx-border-width: 7.5;
    -fx-background-radius: 0;
    -fx-background-color: white;
    -fx-font: 12pt "Cambria";
/*    -fx-effect: dropshadow(one-pass-box, black, 8, 0.0, 2, 0); */
}

.list-view .virtual-flow .clipped-container .list-cell:empty {
    -fx-background-color: transparent;
}

.list-view .virtual-flow .clipped-container .list-cell {
	-fx-spacing: 0 0 15 0; 
	-fx-border-size: 0 0 15 0;

}

.list-view .virtual-flow {
    -fx-background-color: lightgrey;
    -fx-border-insets: 30;
}

.list-view {
    -fx-background-color: lightgrey;
    -fx-padding: 7.5;
}

.root {
    -fx-background-color: lightgrey;
}

.text-field {
    -fx-alignment: TOP-LEFT;
    -fx-padding: 20 20 20 20;
    -fx-display-caret: true;
    -fx-font: 12pt "Cambria";
}

.split-pane .split-pane-divider {
    -fx-pref-height: 20
}

.TextInputControl {

}
